body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
}

header {
    margin: 5%;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-align: center;
}

header img {
    margin-right: 5%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

main img {
    width: 95%;
}

footer {
    width: 25%;
    margin-left: 70%;
    position: absolute;
    bottom: 5%;
}

footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 5%;
}

footer div a {
    font-size: 48px;
}

aside {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

aside p {
    font-size: large;
}

#register {
    /*width: 150px;
    height: 30px;
    font-size: x-large;
     border: 1px solid red; */
    background-color: white;
    text-align: center;
    border-radius: 25px;
    color: hsl(257, 40%, 49%);
    padding: 10px 70px;
    justify-self: start;
    text-decoration: none;
}

.attribution a {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50%;
    color: white !important;
    text-decoration: none;
    /* background-color: white; */
}

@media only screen and (max-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5%;
    }

    h1{
        font-weight: 700;
    }

    #register {
        margin: auto;
        
    }
    aside p {
        font-size: large;
    }
    footer {
        width: 100%;
        margin: 0;
       position: relative;
        bottom: 5%;
    }

    footer div {
        width: 50%;
        margin: 0 auto;

    }
}