body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
}

header {
    margin: 5%;
}

h1 {
    font-family: "Poppins", sans-serif;
    line-height: 1.5em;
    font-size: xxx-large;
    height: 3em;
    width: 90%;
    overflow: hidden;
    text-align: start;
    margin: auto;
}
header img {
    margin: 5% 5%  5% 0;    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

main img {
    width: 95%;
}

footer {
    width: 25%;
    margin-left: 70%;   
    bottom: 5%;    
}

footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 5%;
}

footer div a {
    font-size: 48px;
}


aside {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

aside p {
    font-size: large;
}

#register {
    
    background-color: white;
    text-align: center;
    border-radius: 25px;
    color: hsl(257, 40%, 49%);
    padding: 10px 70px;
    justify-self: start;
    text-decoration: none;
}

.attribution a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 50%;
    color: white !important;
    text-decoration: none;
    /* background-color: white; */
}

@media only screen and (max-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5%;
    }

    aside {        
        margin-bottom: 5%;
    }

    header img {       
        width: 135px;
    }

    h1 {        
        font-size: 1.6rem;        
        text-align: center;       
        margin: 15% auto 5%;
        font-weight: 600;
    }

    #register {
        margin: 5% auto 10%;
        
    }
    aside p {
        font-size: medium;
        text-align: center;
        font-weight: 100;
    }
    footer { 
        width: 100%;
        margin: 0;
       position: relative;    
        bottom: 2%;
    }

    footer div {
        width: 50%;
        margin: 10% auto;
    }
}